<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        https://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <bean id="team" class="com.utilcollectiondi.beans.Team">
        <property name="teamName" value="India"/>
        <property name="country" value="India"/>
        <property name="members" ref="properties"/>
    </bean>

    <util:properties id="properties" value-type="java.util.Properties">
        <prop key="rohit">batsman</prop>
        <prop key="kohli">batsman</prop>
        <prop key="bumrah">batsman</prop>
        <prop key="syed">batsman</prop>
    </util:properties>
</beans>